.conteudo {
    margin: 0px 0px;
}

h2 {
    text-align: center;
}

#cadastroform {
    margin: 0 auto;
    background-color: #FFFFFF;
    border: 2px;
    box-shadow: 0px 0px 5px #ccc;
    padding: 40px;
    width: 55%;
    margin-top: 20px;
    font-size: 16px;
    font-family: Arial, Helvetca, sans serif;
    line-height: 30px;
}

/* Estilos para input file */
.arquivo {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 31%;
    text-align: center;
}

.arquivo input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.arquivo label {
    display: inline-block;
    cursor: pointer;
}

.arquivo {
    background-color: #0078d4;
    margin-top: 40px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}

.arquivo:hover {
    background-color: #2196F3;
}

.modal-inner {
    background-color: #fefefe;
    position: relative;
    margin: 10px;
    padding: 30px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

#modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-inner img {
    width: 37%;
    height: 37%;
    border: 1px solid;
}

textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    font-size: 15px;
}

select {
    display: inline;
    width: 30%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    font-size: 15px;
}

select:focus {
    background-color: #e6e6e6;
}

#numero {
    width: 70%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    font-size: 15px;
}

.divs,
.caract {
    border: #a9a9a9 1px solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    padding: 30px;
}

button[type="submit"] {
    background-color: #ff9800;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
}

button[type="submit"]:hover {
    background-color: #ffc107;
}

.formulario-container {
    margin: 0 auto;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}

input[type="tel"] {
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #fbfbfb;
    font-size: 15px;
}

input[type="email"] {
    width: 90%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    font-size: 15px;
}

#endereco-div {
    display: flex;
    justify-content: space-around;
}

.entrada {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    font-size: 15px;
}

.entrada-endereco {
    width: 70%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    font-size: 15px;
}

.entrada:focus,
select:focus {
    background-color: #e6e6e6;
}

.divs textarea {
    display: flex;
}

p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: 0.4rem;
}

#check {
    display: flex;
    justify-content: space-around;
}

#btn-finalizar {
    background-color: #4CAF50 !important;
}

#btn-finalizar:hover {
    background-color: #8BC34A !important;
}