body {
    background-color: #fbfbfb;
}

.conteudo {
    margin: 0px 0px;
}

#contactform {
    margin: 0 auto;
    background-color: #FFFFFF;
    border: 2px;
    box-shadow: 0px 0px 5px #ccc;
    padding: 0px;
    width: 55%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: Arial, Helvetca, sans-serif;
    line-height: 30px;
    display: flex;
    /* Adicionado */
    justify-content: space-between;
    /* Adicionado */
}

#orange {
    background-color: #607D8B;
    width: 40%;
    /* height: 100%; */
    overflow: auto;
}

@media (max-width: 768px) {
    #contactform {
        width: 90%;
        flex-direction: column;
        /* Adicionado */
        align-items: center;
        /* Adicionado */
    }

    #formulario-container {
        width: 100%;
    }

    #orange {
        width: 100%;
    }
}

form {
    width: 100%;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}

input[type="tel"],
#nome,
#mensagem,
input[type="email"],
#assunto {
    width: 90%;
    padding: 10px;
    border: 1px solid #9E9E9E;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    font-size: 15px;
}

#contact-btn button {
    background-color: #0078d4;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
    width: 95%;
    font-weight: bold;
}

#contact-btn button:hover {
    background-color: #2196f3;
}

.collapsible {
    background-color: #9E9E9E;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #9E9E9E;
}