body {
    background-color: #f2f2f2;
}

.conteudo {
    margin: 0px 0px;
}

#contactform {
    background-color: #FFFFFF;
    border: 2px;
    box-shadow: 0px 0px 5px #ccc;
    padding: 40px;
    width: 70%;
    font-size: 20px;
    margin: 70px;
    font-family: Arial, Helvetca, sans serif;
    line-height: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="tel"] {
    width: 20%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    font-size: 16px;
}

#nome,
#mensagem,
input[type="email"] {
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    font-size: 16px;
}

#assunto {
    width: 20%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #484848;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
}

button[type="submit"]:hover {
    background-color: #a9a9a9;
}

#nome:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus {
    background-color: #e6e6e6;
}