main {
    background-color: #f2f2f2;
    display: grid;
    gap: 15px;
    grid-template-areas:
        'header header header header'
        'sidebar1 content content sidebar2'
        'footer footer footer footer';
    grid-template-columns: 20% 40% 20%;
}

header {
    grid-area: header;
    background-color: white;
}

#sidebar1 {
    grid-area: sidebar1;
    height: 50vh;
    background-color: white;
}

#sidebar2 {
    grid-area: sidebar2;
    height: 50vh;
    background-color: white;
}

#content {
    grid-area: content;
    height: 100%;
    background-color: white;
}

footer {
    grid-area: footer;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header {
    grid-column-start: 1;
    grid-column-end: 5;
}

#sidebar2 {
    grid-row-start: 2;
    grid-row-end: 4;
}

.hidden {
    display: none;
}

#menu-chat {
    border: 1px solid;
    justify-content: space-around;
    background-color: #ddd;
    padding: 0px 39px;
}

#menu-content1,
#menu-content2 {
    border: 1px solid;
    justify-content: space-around;
    background-color: #ddd;
    padding: 0px 39px;
}

#menu-content1 button,
#menu-content2 button, #menu-chat button {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 30px;
    background: none;
    border: none;
}

#menu-content2 {
    margin-top: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #000000;
}

input:focus+.slider {
    box-shadow: 0 0 1px #000000;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

body {
    background-color: #f2f2f2;
    transition: background-color 0.5s ease;
}

.dark-mode {
    background-color: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
}

body.dark-mode .container-contato {
    background-color: #000;
    color: white;
}

body.dark-mode .sidebar {
    background-color: rgb(53, 53, 53);
    color: white;
}

body.dark-mode #info {
    background-color: #000;
    color: white;
}

body.dark-mode .container-content {
    background-color: #000;
    color: white;
}

body.dark-mode h3 {
    background-color: #000;
    color: white;
}

body.dark-mode .content {
    background-color: #000;
    color: white;
}

body.dark-mode button {
    background-color: #000;
    color: white;
}

body.dark-mode nav button:hover {
    background-color: rgb(153, 150, 150);
    color: #fafafa;
}

body.dark-mode #botoes button:hover {
    background-color: rgb(153, 150, 150);
    color: #fafafa;
}

body.dark-mode header {
    background-color: rgb(0, 0, 0);
    color: #fafafa;
}

body.dark-mode .logo {
    color: #fafafa;
}

body.dark-mode nav {
    background-color: #000;
    color: white;
}

body.dark-mode a {
    background-color: #000;
    color: #51b4f1;
}

body.dark-mode #foto img {
    border: 3px solid;
    border-color: #51b4f1;
}

body.dark-mode input {
    background-color: #000;
    border: 2px solid;
    border-color: #888;
    color: #ffffff;
}

body.dark-mode .modal-inner {
    background-color: #000;
    color: #ffffff;
}

body.dark-mode .btn {
    background-color: rgb(53, 53, 53);
    color: #ffffff;
    border-color: #888;
    margin: 2px;
    padding: 7px;
    border: 1px solid;
}

body.dark-mode .container-acess {
    background-color: #000;
    color: white;
}

body.dark-mode .container-acess ul {
    background-color: #000;
    color: white;
}

body.dark-mode .container-acess ul li a {
    background-color: #000;
    color: white;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

section:nth-child(1) {
    float: right;
    width: 20%;
    box-sizing: border-box;
}

section:nth-child(2) {
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

section:nth-child(3) {
    float: left;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
}

.container-acess nav {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 0px 0px;
    width: 100%;
}

.container-acess {
    background: #fff;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 3px;
    width: 90%;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
}

.container-acess ul {
    list-style-type: none;

}

.container-acess ul li {
    padding: 6px 0;
}

.container-acess ul li a i {
    font-size: 1.1em;
}

.container-acess ul li a {
    position: relative;
    display: block;
    padding: 4px 0;
    font-size: 1em;
    font-family: 'open_sansregular';
    color: #555555;
    text-decoration: none;
    transition: 0.5s;
}

.container-acess ul li a::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #0dc9cc;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

.container-acess ul li a:hover {
    color: #95a5a6;
}

.container-acess ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;

}


.container-conversas ul {
    list-style-type: none;

}

.container-conversas ul li {
    padding: 6px 0;
}

.container-conversas ul li a i {
    font-size: 1.1em;
}

.container-conversas ul li a {
    position: relative;
    display: block;
    padding: 4px 0;
    font-size: 1em;
    font-family: 'open_sansregular';
    color: #555555;
    text-decoration: none;
    transition: 0.5s;
}

.container-conversas ul li a::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #0dc9cc;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

.container-conversas ul li a:hover {
    color: #95a5a6;
}

.container-conversas ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;

}