.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #000000;
}

input:focus+.slider {
    box-shadow: 0 0 1px #000000;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dark-mode {
    background-color: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
}

body.dark-mode main {
    background-color: rgb(53, 53, 53);
    color: white;
}

body.dark-mode #content {
    background-color: rgb(53, 53, 53);
    color: white;
}

body.dark-mode #content-box {
    box-shadow: none;
}

body.dark-mode .logo {
    background-color: #000;
    color: white;
}

body.dark-mode .container-perfil {
    background-color: #000;
    color: white;
    box-shadow: none;
}

body.dark-mode #info {
    background-color: #000;
    color: white;
}

body.dark-mode .container-content {
    background-color: #000;
    color: white;
    box-shadow: none;
}

body.dark-mode h3 {
    background-color: #000;
    color: white;
}

body.dark-mode #sidebar1 {
    background-color: #000;
    color: white;
    box-shadow: none;
}

body.dark-mode #sidebar2 {
    background-color: #000;
    color: white;
    box-shadow: none;
}

body.dark-mode #chatconteudo {
    background-color: #000;
    color: white;
    box-shadow: none;
}

body.dark-mode .content {
    background-color: #000;
    color: white;
    box-shadow: none;
}

body.dark-mode button {
    background-color: #51b4f1;
    color: white;
}

body.dark-mode nav button:hover {
    background-color: rgb(153, 150, 150);
    color: #fafafa;
}

body.dark-mode .chat-item {
    background-color: #373b3d;
    color: #fafafa;
    border: #888;
}

body.dark-mode .chat-item:hover {
    background-color: #4e5052;
    color: #fafafa;
    border: #888;
}

body.dark-mode #botoes button:hover {
    background-color: #51b4f1;
    color: #fafafa;
}

body.dark-mode #menu-content button:hover,
body.dark-mode #menu-chat button:hover,
body.dark-mode #menu-chat button:hover {
    background-color: grey;
    color: white;
}

body.dark-mode #menu-chat {
    background-color: #000;
    color: white;
    border-color: gray;
}

body.dark-mode #menu-chat button,
body.dark-mode #menu-content button,
body.dark-mode .btn-dropdown-child,
body.dark-mode input,
body.dark-mode .modal-inner,
body.dark-mode header,
body.dark-mode .modal-content,
body.dark-mode div {
    background-color: #000;
    color: white;
}

body.dark-mode #menu-content {
    background-color: #000;
    color: white;
    border-color: gray;
}

body.dark-mode a {
    background-color: #000;
    color: #51b4f1;
}

body.dark-mode #foto img {
    border: 3px solid;
    border-color: #51b4f1;
}

body.dark-mode .btn {
    background-color: rgb(53, 53, 53);
    color: #ffffff;
    border-color: #888;
    margin: 2px;
    padding: 7px;
    border: 1px solid;
}

body.dark-mode .logo img {
    content: url('./img/tesoura.png');
}

body.dark-mode footer {
    background-color: #000;
}

body.dark-mode span {
    color: #ffffff;
}

body.dark-mode #send-area input {
    background-color: #888;
}

body.dark-mode #chat-area,
body.dark-mode #chat-displayer {
    background-color: rgb(53, 53, 53);
}

body.dark-mode .chat-content-box {
    background-color: black;
}

body.dark-mode ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #888;
    background-color: #888;
}

body.dark-mode ::-webkit-scrollbar-thumb:hover {
    background: #ddd;
}

body.dark-mode ::-webkit-scrollbar-thumb {
    background: #aaa;
}