body {
    background-color: #f2f2f2;
}

main {
    margin: 0px 40px;
    display: flex;
    flex-wrap: wrap;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #ddd;
    padding: 0px;
    width: 100%;
}

nav button {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    background: none;
    border: none;
}

nav button:hover {
    background-color: rgb(153, 150, 150);
    color: #fafafa;
}

.sidebar {
    top: 0;
    padding: 0px;
}

.sidebar-left {
    left: 0;
    background-color: #f2f2f2;
    margin-right: 10px;
    height: 100%;
}

.sidebar-right {
    right: 0;
    background-color: #f2f2f2;
    margin-left: 10px;
}

.container-perfil {
    background-color: #FFFFFF;
    border: 2px;
    box-shadow: 0px 0px 5px #ccc;
    padding: 35px;
    width: 85%;
    height: 100%;
    font-size: 16px;
    margin-top: 20px;
    font-family: Arial, Helvetca, sans serif;
    line-height: 30px;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#foto {
    position: relative;

}

#foto img {
    width: 150px;
    height: 150px;
    border: 1px solid;
}

#editar-foto {
    position: absolute;
    bottom: 15px;
    right: 7px;
    background-color: #fff;
    border-radius: 50%;
    border: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#editar-foto i {
    font-size: 20px;
    position: relative;
    color: #333;
    bottom: 1px;
    right: -25px;
}

button {
    display: inline;
    align-content: center;
    margin: 2px;
    padding: 7px;
}

#bio {
    text-align: left;
    width: 90%;
    text-align: justify;
    hyphens: auto;
    font-size: 16px;
    border: 1px solid;
    border-color: #ddd;
    padding: 5%;
}

/* Estilos para a janela modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-inner {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 50px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

#modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal img {
    width: 40%;
    height: 40%;
    border: 1px solid;
    margin-bottom: 50px;
}

/* Estilos para input file */

.arquivo {
    position: relative;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 0px;
    padding: 6px 37px;
    cursor: pointer;
    color: #fff;
    background-color: #24a0ed;
}

.arquivo input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.arquivo label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.arquivo:hover {
    background-color: #51b4f1;
}

/* Botão para salvar a foto escolhida */
#salvar-foto {
    border: 1px solid #000000;
    border-radius: 0px;
    padding: 6px 12px;
    cursor: pointer;
    color: #fff;
    background-color: #24a0ed;
    width: 90px;
    height: 40px;
    font-size: 16px;
}

#salvar-foto:hover {
    background-color: #51b4f1;
    font-size: 16px;
    font-weight: 700;
}

/* Estilos para o botão "Fechar" */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 50%;
    padding: 10px;
    line-height: 17px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.container-content {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px #ccc;
    padding: 40px;
    font-size: 16px;
    margin: 0;
    font-family: Arial, Helvetca, sans serif;
    line-height: 30px;
    display: flex;
    width: 100%;
    float: left;
}

#menu-content {
    margin-top: 20px;
    border: 1px solid;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

section:nth-child(1) {
    float: left;
    width: 25%;
    box-sizing: border-box;
}

section:nth-child(2) {
    float: left;
    width: 70%;
    height: 100%;
    box-sizing: border-box;
}

.accordion {
    list-style: none;
    margin: 0;
    padding: 0;
}

.accordion li {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: white;
}

.accordion h3 {
    margin: 0;
    padding: 10px;
}

.accordion button {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    text-align: left;
}

.accordion .content {
    display: none;
    padding: 10px;
}

.accordion li.active button {
    background-color: #ccc;
}

.accordion li.active .content {
    display: block;
}

#content1 {
    padding: 20px;
}

#btn-salvar {
    background-color: #f2f2f2;
    color: black;
    font-size: 20px;
    cursor: pointer;
    padding: 10px
}

#btn-salvar:hover {
    background-color: #ccc;
}

#salvar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#editsobre {
    border: #ccc solid;
    width: 50%;
    padding: 20px;
}