main {
    padding: 0px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #ddd;
    padding: 0px 39px;
    width: 100%;
}

nav button {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 30px;
    background: none;
    border: none;
}

nav button:hover {
    background-color: rgb(153, 150, 150);
    color: #fafafa;
}

.sidebar {
    top: 0;
    padding: 0px;
}

.sidebar-left {
    left: 0;
    margin-right: 10px;
    height: 100%;
}

.sidebar-right {
    right: 0;
    margin-left: 15px;
}

.container-perfil {
    background-color: #FFFFFF;
    border: 2px;
    box-shadow: 0px 0px 5px #ccc;
    padding: 35px;
    width: 85%;
    font-size: 14px;
    margin-top: 20px;
    font-family: Arial, Helvetca, sans serif;
    line-height: 30px;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

#foto {
    position: relative;
    display: inline-block;
}

#foto img {
    width: 150px;
    height: 150px;
    border: 1px solid;
    border-radius: 50%;
}

#foto-edit-div {
    display: flex;
    justify-content: center;
}

#editar-foto {
    position: absolute;
    bottom: 15px;
    right: 7px;
    background-color: #fff;
    border-radius: 50%;
    border: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#editar-foto i {
    font-size: 20px;
    position: relative;
    color: #333;
    bottom: 1px;
    right: -0px;
}

#bio {
    text-align: left;
    width: 90%;
    text-align: justify;
    hyphens: auto;
    font-size: 16px;
    padding: 5%;
}

/* Estilos para a janela modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-inner {
    background-color: #fefefe;
    position: relative;
    margin: 10% auto;
    padding: 50px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

#modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal img {
    width: 37%;
    height: 37%;
    border: 1px solid;
    margin-bottom: 50px;
}

#botoes button {
    display: inline;
    align-content: center;
    margin: 2px;
    padding: 7px;
    cursor: pointer;
}

#info #links {
    margin-bottom: 20px;
    font-size: 20px;
}

#info #links a {
    margin-bottom: 20px;
    font-size: 20px;
    margin: 5px;
}

/* Estilos para o botão "Fechar" */
.close {
    position: absolute;
    display: flex;
    right: 50px;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 50%;
    padding: 10px;
    line-height: 16px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.container-content {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px #ccc;
    padding: 40px;
    font-size: 16px;
    margin: 0;
    font-family: Arial, Helvetca, sans serif;
    line-height: 30px;
    display: flex;
    width: 100%;
    float: left;
}

#menu-content {
    margin-top: 20px;
}

.hidden {
    display: none;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

section:nth-child(1) {
    float: right;
    width: 20%;
    box-sizing: border-box;
}

section:nth-child(2) {
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

#conteudos {
    width: 100%;
}

.accordion {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.accordion li {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: white;
}

.accordion h3 {
    margin: 0;
    padding: 10px;
}

#accordion-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    text-align: left;
}

.accordion .content {
    display: none;
    padding: 10px;
}

.accordion li.active .content {
    display: block;
}

#content4 {
    padding: 20px;
}

.btn-salvar-edit {
    display: flex;
    align-content: center;
    margin: 2px;
    padding: 7px 7px;
    cursor: pointer;
    width: 53px;
    display: none;
}

.arquivo {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.arquivo input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.arquivo label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

#btn-salvar,
#salvar-foto,
.arquivo {
    background-color: #0078d4;
    margin-top: 40px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}

#btn-salvar:hover,
#salvar-foto:hover,
.arquivo:hover {
    background-color: #2196F3;
}

#salvar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.agend-item {
    border: 1px solid gray;
    padding: 10px;
    display: flex;
    margin: 10px 0px;
    align-items: center;
}

.agend-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid gray;
}

.agend-item:hover {
    background-color: #f2f2f2;
}

.name {
    margin-left: 20px;
}

.chat-item {
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    margin: 10px 0px;
    align-items: center;
}

.chat-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid gray;
}

.chat-item:hover {
    background-color: #eaeaea;
}

#sobreperfil,
#editsobre {
    width: 50%;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    font-size: 16px;
}

.edit-btn {
    display: flex;
    align-content: center;
    margin: 2px;
    padding: 7px;
    cursor: pointer;
    width: 52px;
}
/*
#editsobre {
    display: none;
}*/

#info-endereco {
    display: flex;
    justify-content: space-around;
}

#endereco {
    border-bottom: 0;
}

#editestado {
    display: none;
}

#editcidade {
    display: none;
}

#editbairro {
    display: none;
}

#editrua {
    display: none;
}

.divs,
.caract {
    border: #a9a9a9 1px solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    padding: 30px;
}

select {
    display: inline;
    width: 30%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    font-size: 15px;
}

select:focus {
    background-color: #e6e6e6;
}

h3 svg {
    float: right;
}