  }
  body {
    background-color: #e1e2e1;
    width: 100%;
    height: 100%;
  }
  .menu-principal {
    background-color: #484848;
    width: 100%;
    margin: 0 auto;
  }
  #cabecalho {
    color: #FFFFFF;
    padding: 1px;
  }
  .main {
    background-color: #484848;
    color: #fff;
    padding: 14px;
    border-radius: 7px;
    margin: 0 auto;
    width: 40%;
    margin-top: 40px;
    font-family: Arial, Helvetca, sans-serif;
  }
  #login {
    padding: 14px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    font-size: 40px;
  }
  form {
    background-color: #FFFFFF;
    color: #000000;
    padding: 60px;
    border-radius: 7px;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 20px;
  }
  h1, label {
    font-weight: bold;
  }
  h1 {
    text-align: center;
    font-size: 40px;
  }
  h2 {
    text-align: center;
    font-size: 30px;
  }
  #botao-formulario-1, #botao-formulario-2 {
    display: inline-block;
    margin: 0 auto;
    font-size: 25px;
    margin-bottom: 20px;
    width: 20%;
    vertical-align: middle;
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  input[type="password"] {
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    font-size: 16px;
  }
  input[type="tel"] {
    width: 40%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    font-size: 16px;
  }
  .formulario-container {
    text-align: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .button-container button {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
  }
  .botao-login button {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    font-size: 25px;
    width: 20%;
  }
  input[type="text"], input[type="email"], select {
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    font-size: 16px;
  }
  input[type="select"] {
    width: 30%;
  }
  button[type="submit"] {
    background-color: #484848;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
  }
  button[type="submit"]:hover {
    background-color: #a9a9a9;
  }
  input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, select:focus {
    background-color: #e6e6e6;
  }
  input[type="select"]:focus, select:focus {
    background-color: #e6e6e6;
  }